@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
    overscroll-behavior: none;
  }
  
  #root {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}
